<!doctype html>
<head>
  <link rel="stylesheet" type="text/css" href="css/style.css">
  <title>Things To Do When You Get Bored</title>
</head>


<h1><a href="http://www.cs.earlham.edu/~jimg/reading/bored.html">If you're looking for some more ideas... </a></h1>
<h2><% @all_ideas.each do |item|%>  </h2>
<br>


<h3><a href="http://www.buzzle.com/articles/fun-things-to-do-when-youre-bored-at-home.html"><img src="http://www.buzzle.com/img/articleImages/327237-57617-32.jpg"></a></h3>

<form method="post" action="/">
  Enter your number here to receive a text with an activity!
<input type="text" name="phone_number">

<button type="submit"> ACTIVATE!!!</button>
</form>

  <p> <%= item.activity %></p>



<%end%>
